
body{
font-family: 'Oswald',Arial, Helvetica, sans-serif;
font-weight: 300;
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

color: azure;
}
.textblack{
    font-family: 'Roboto';
    color: black;
}
.counterTitle{
    font-family: 'Oswald';
    color: whitesmoke;
    font-weight: 600;
    font-size: 25;
}
.counterNumber{
    font-family: 'Oswald';
    color: greenyellow;
    font-weight: 600;
    font-size: 25;
}
p{
    font-family: 'Roboto', sans-serif;
}

.table{    
    font-family: 'Roboto', sans-serif;
    color: rgb(171, 245, 245);
    }

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(bootstrap-4.5.0-dist/css/oswald.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url(roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1{
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    color: azure;
}

.jumbotron{
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );background-image: linear-gradient( 109.6deg,  rgba(35,11,68,1) 11.2%, rgba(45,21,76,1) 91.1% );
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
}